.article > img {
   --width:  clamp(150px, 15vw, 250px);
   width: var(--width);
   height: var(--width);
}

.article > a {
    color: inherit;
    text-decoration: none;
    font-family: var(--primary-font);
    display: flex;
    gap: 0.3125rem;
    justify-content: start;
    align-items: center;
}

.article > a > h1 {
    text-transform: capitalize;
    font-size: clamp(12px, 5vw, 22px);
}

@media (max-width: 1000px) {
 .article {
    width: 33%;
  }
}