.main {
    min-height: 35vh;
}
.main_header {
    font-family: var(--primary-font);
    font-size: var(--text-size-4xl);
    margin-bottom: 0.625rem;
}

.articles_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    gap: 20px;
}
.main_wrapper {
    width: var(--content-width);
    padding: var(--content-padding);
    margin: 0 auto;
}