.main {
    min-height: 35vh;
    flex-grow: 1;
}
.main_header {
    font-family: var(--primary-font);
    font-size: var(--text-size-4xl);
    margin-bottom: 0.625rem;
    text-transform: capitalize;
}

.articles_wrapper {
    justify-content: start;
}
.main_wrapper {
    width: var(--content-width);
    padding: var(--content-padding);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.products_wrapper, .articles_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 15vw));
    grid-template-rows: auto;
    gap: 3rem;
    justify-content: start;
}

.filter, .all_products {
    width: 30vw;
}
.shop_wrapper {
    display: flex;
    gap: 1.25rem;
   
}
option {
  text-transform: capitalize;
}
@media (max-width: 800px) {
  .products_wrapper {
    width: 100%;
  }
  .shop_wrapper {
    flex-direction: column;
  }
  .filter {
    width: 100%;
  }
}