.media {
    width: 100%;
    height: 50vh;
    background: url("../assets/img/cokile-ceoi-orW5SOudnQw-unsplash.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper > h1 {
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
    font-size: clamp(3rem, 5vw, 5rem)
}

.wrapper > h2 {
    font-family: var(--primary-font);
    color: var(--secondary-text-color);
}

@media (max-width: 800px) {
  .media {
    background: url("../assets/img/cokile-ceoi-orW5SOudnQw-unsplash\(1\).jpg");
  }
}

