.nav {
    width: 100%;
    min-height: fit-content;
    max-height: 8rem;
    padding: clamp(1rem, 4.5vw, 1.5rem);
}
.wrapper {
    width: var(--content-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr);
    align-content: center;
    gap: var(--gap-xl);
}
.logo {
    grid-column: 1;
    justify-self: start;
    align-self: center;
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    min-width: fit-content;
}
.links {
    display: flex;
    gap: var(--gap-lg);
    grid-column: 2;
    justify-self: start;
}

.logo > p {
    font-family: var(--primary-font);
    font-size: var(--text-size-2xl);
    min-width: fit-content;
    text-wrap: nowrap;
}
@media (max-width: 1000px) {
  .logo > p {
    display: none;
  }
}

