@font-face {
  font-family: "Changa One Regular";
  src: url(./assets/fonts/Changa_One/ChangaOne-Regular.ttf);
}
@font-face {
  font-family: "Changa One Italic";
  src: url(./assets/fonts/Changa_One/ChangaOne-Italic.ttf);
}
